.wrapper {
    display: inline-block;
    position: fixed;
    left: calc(50% - 15px);
    top: 38%;
}

.loading-icon {
    display: block;
}

.wrapper.home {
    left: 55%;
    position: absolute;
    bottom: -40px;
    top: auto;
}