.user-container {
    font-weight: 600;
    font-size: 1.4rem;
    padding: 16px 0;
    color: rgba(22, 24, 35, 0.75);
    line-height: 20px;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        left: 8px;
        right: 8px;
        top: 0;
        height: 1px;
        background: rgba(22, 24, 35, 0.12);
        transform: scaleY(0.5);
    }
}

.title {
    padding: 0 8px;
    margin-bottom: 8px;
    font-size: 1.4rem;
    line-height: 20px;
}

.show-more {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 8px;
    margin-top: 8px;
    cursor: pointer;
}

.show-more-text {
    color: var(--primary);
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 20px;
}

.load-icon {
    display: flex;
    justify-content: center;
    min-height: 200px;
    align-items: center;
    width: 100%;
}

.loading {
    animation: spinner 1s linear infinite;
}

@keyframes spinner {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}