.container {
    width: 100%;
}

.video-feed {
    display: flex;
    flex-wrap: wrap;
}

.block-container {
    width: calc(100% - 12px);
    clear: both;
}

.title-container {
    height: 30px;
    padding-bottom: 16px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.top-video-title {
    font-family: "IBM Plex Sans", ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    margin: 0px;
}