.container {
    right: 24px;
    position: fixed;
    bottom: 0px;
    z-index: 7;
    flex-direction: column;
    display: flex;
    align-items: flex-end;
    margin-bottom: 8px;
}

.wrapper {
    margin-bottom: 12px;
    display: flex;
    position: relative;
}

.get-app {
    border: none;
    background: none;
    outline: none;
    color: rgba(22, 24, 35, 0.75);
    font-weight: 700;
    font-size: 1.4rem;
    position: relative;
    right: 0;
    bottom: 0;
    padding: 0 8px;
    min-width: 90px;
    height: 32px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
    border-radius: 52px;
    cursor: pointer;
    line-height: 30px;
    text-align: center;
    white-space: nowrap;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(22, 24, 35, 0.12);
    background-color: rgba(255, 255, 255, 1.0);
    transform: none;
}

.wrapper-child {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    position: relative;
    bottom: -1px;
    background: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 6%) 0px 2px 8px;
    border: 1px solid rgba(22, 24, 35, 0.03);
    border-radius: 8px;
    transition: all 0.3s cubic-bezier(0.4, 0.14, 0.3, 1) 0s;
    transform-origin: right bottom;
    transform: none;
    right: -1px;
}

.close {
    right: 16px;
    position: absolute;
    top: 16px;
    cursor: pointer;
}

.download {
    margin-right: 48px;
    margin-left: 16px;
}

.icon {
    margin: 6px 0;
    display: flex;
    flex-direction: row;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    justify-content: left;
    
    > div {
        display: flex;
        align-items: center;
    }

    +.icon {
        margin-left: 0;
    }
}

.split {
    width: calc(100% - 16px);
    height: 1px;
    position: relative;
    background: rgba(22, 24, 35, 0.12);
    transform: scaleY(0.5);
    left: 8px;
}