.container {
  position: relative;
  flex: 0 0 auto;
  margin-bottom: 20px;
  box-sizing: border-box;
  max-width: 624px;
  padding-right: 92px;
}

// info
.share-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.share-title-container {
  flex: 1 1 0%;
  cursor: pointer;
  overflow: visible;
  margin-left: 20px;
}

.nickname {
  font-family: "IBM Plex Sans", SofiaPro, Arial, Tahoma, PingFangSC, sans-serif;
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 38px;
  padding-bottom: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

.full-name {
  font-family: "IBM Plex Sans", ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 25px;
  text-overflow: ellipsis;
  height: 25px;
  overflow: hidden;
  max-width: 450px;
  white-space: nowrap;
  display: flex;
  align-items: flex-end;
}

.edit-container {
  position: relative;
  width: 136px;
  height: 36px;
  padding: 0px;
  margin: 16px 0px 0px;
}

// like, following, follower
.count-info {
  display: flex;
  align-items: center;
  margin-top: 22px;
  color: rgba(18, 18, 18, 0.75);
}

.div-number {
  margin-right: 20px;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 25px;
  display: flex;
  direction: ltr;
  align-items: baseline;
}

.span-unit {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 22px;
  display: inline-block;
  margin-left: 6px;
}

// bio
.user-bio {
  text-align: left;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 22px;
  color: rgb(18, 18, 18);
  white-space: pre-line;
  margin-top: 10px;
}

// share
.share-action {
  position: absolute;
  top: 11px;
  cursor: pointer;
  right: 52px;
}