.footer {
    position: relative;
    padding-top: 16px;
    padding-left: 8px;

    &::before {
        content: "";
        position: absolute;
        left: 8px;
        right: 8px;
        top: 0;
        height: 1px;
        background: rgba(22, 24, 35, 0.12);
        transform: scaleY(0.5);
    }

    .div-link {
        a {
            color: var(--text-footer);

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.div-link {
    margin-bottom: 8px;
}

.footer-item {
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 17px;
    display: inline-block;
    margin-right: 6px;
    margin-top: 5px;
}

.more {
    margin-bottom: 8px;
    position: relative;
}

.more-text {
    color: var(--text-footer);
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 17px;
    display: inline-block;
    margin-right: 6px;
    margin-top: 5px;
    cursor: pointer;
    background-color: var(--white);
}

.copyright {
    color: var(--text-footer);
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 17px;
    display: inline-block;
    margin-right: 6px;
    margin-top: 5px;
}