.discover {
    position: relative;
    width: 100%;
    padding: 16px 8px 8px;

    &::after {
        content: "";
        position: absolute;
        top: 0px;
        width: calc(100% - 16px);
        height: 1px;
        background: rgba(22, 24, 35, 0.12);
        transform: scaleY(0.5);
    }
}

.title {
    color: rgba(22, 24, 35, 0.75);
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 20px;
    padding-bottom: 16px;
}

.discover-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.load-icon {
    display: flex;
    justify-content: center;
    min-height: 200px;
    align-items: center;
    width: 100%;
}

.loading {
    animation: spinner 1s linear infinite;
}

@keyframes spinner {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}