.wrapper {
    z-index: unset;
    display: flex;
    flex-direction: column;
    width: 728px;
    height: 100%;
    background: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 6%) 0px 2px 8px;
    border-radius: 8px;
    margin-left: 16px;
}