.video-detail-wrapper {
    z-index: 1000;
    position: fixed;
    inset: 0px;
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
}



// content
.content-container {
    flex: 0 0 544px;
    width: 544px;
    display: flex;
    flex-direction: column;
    padding: 32px 0px 0px;
}

.info-container {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    padding: 22px 32px 0px;
    margin-bottom: 15px;
    position: relative;
    flex: 0 0 82px;
}

.author-anchor {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    flex: 1 1 auto;
    margin-right: 12px;

    &:hover {
        .browse-username {
            text-decoration: underline;
        }
    }
}

.browse-username {
    font-family: "IBM Plex Sans", SofiaPro, Arial, Tahoma, PingFangSC, sans-serif;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.5rem;
}

.browser-nickname {
    font-family: "IBM Plex Sans", ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.main-content {
    padding: 0px 32px;
    overflow: visible;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.main-content-wrapper {
    display: flex;
    width: 100%;
    overflow: hidden;
    position: relative;
    padding-bottom: unset;
}

.main-content-text {
    max-height: unset;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.main-content-overflow {
    fill: rgba(22, 24, 35, 1);
}

.main-content-span-text {
    display: inline;
    font-weight: 400;
}

.video-music {
    font-family: "IBM Plex Sans", ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 22px;
    margin-top: 10px;
    margin-bottom: 16px;
    flex: 0 0 auto;

    &:hover {
        text-decoration: underline;
    }
}

.main-content-container {
    position: relative;
    padding: 16px 0px;
}

.main-content-icon {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.main-content-copy-link {
    color: rgba(22, 24, 35, 0.75);
    font-size: 1.5rem;
    line-height: 20px;
    display: flex;
    flex-direction: row;
    margin-top: 16px;
    box-sizing: border-box;
    border: 1px solid rgba(22, 24, 35, 0.12);
    border-radius: 8px;
    overflow: hidden;
}

.browse-video-link {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    flex: 1 1 auto;
    padding: 7px 0px 5px 12px;
    background-color: rgba(22, 24, 35, 0.06);
}

.browse-copy {
    border: none;
    background: none rgba(22, 24, 35, 0.06);
    outline: none;
    color: rgb(22, 24, 35);
    font-weight: 700;
    flex: 0 0 auto;
    cursor: pointer;
    padding: 7px 18px;

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.comment-list-container {
    width: 100%;
    padding: 24px 32px;
    box-sizing: border-box;
    background-color: rgb(248, 248, 248);
    border-top: 1px solid rgba(22, 24, 35, 0.2);
    border-bottom: 1px solid rgba(22, 24, 35, 0.2);
    overflow: hidden auto;
    -webkit-box-flex: 1;
    flex-grow: 1;
    position: relative;
}

.comment-item-container {
    margin-bottom: 16px;
}

.comment-content-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 16px;
    position: relative;
}

.reply-container {
    padding-left: 52px;
}

.comment-text {
    font-size: 16px;
    line-height: 22px;
    white-space: pre-line;
    word-break: break-word;
    margin-bottom: 6px;
}

.comment-sub-content {
    color: rgba(22, 24, 35, 0.5);
    font-size: 14px;
    line-height: 20px;
}

.comment-reply {
    cursor: pointer;
    color: rgba(22, 24, 35, 0.5);
    font-weight: 400;
    margin-left: 24px;
}

.comment-content-wrapper {
    flex: 1 1 auto;
}

.reply-action-container {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    position: relative;
}

.reply-action-text {
    color: rgba(22, 24, 35, 0.5);
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

.reply-chevron-down-icon {
    margin-left: 6px;
    vertical-align: middle;
    transform: none;
}



// Bottom comment
.bottom-comment-container {
    flex: 0 0 auto;
    background-color: rgb(255, 255, 255);
    margin: 0px 30px;
    padding: 21px 0px;
}

.div-bottom-comment {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.div-layout-bottom-comment {
    flex: 1 1 auto;
}

.div-post-btn {
    color: rgba(22, 24, 35, 0.34);
    font-weight: 600;
    cursor: default;
    flex: 0 0 48px;
    font-size: 14px;
    line-height: 39px;
    text-align: right;
    margin-right: 4px;
}

.div-post-btn.has-valid {
    color: rgb(254, 44, 85);
}

.div-input-area-container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    background-color: rgba(22, 24, 35, 0.06);
    box-sizing: border-box;
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 0px 9px;
}

.div-input-area-container.focus {
    border: 1px solid rgba(22, 24, 35, 0.2);
}

.div-input-editor-container {
    flex: 1 1 auto;
    height: auto;
    margin: 10px 8px 10px 0px;
}

.input-area-container {
    color: rgb(22, 24, 35);
    min-height: 17px;
    max-height: 68px;
    word-break: break-all;
    overflow-y: auto;
    font-size: 14px;
}

.public-draft-editor-placeholder-root {
    color: rgba(22, 24, 35, 0.75);
    position: absolute;
    font-size: 14px;
    line-height: 17px;
}

.public-draft-editor-content {
    outline: none;
    user-select: text;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    caret-color: rgb(254, 44, 85);
}

.div-mention-button {
    flex: 0 0 32px;
    width: 32px;
    height: 32px;
    padding: 5px;
    margin: 3px;
    cursor: pointer;
    background-color: transparent;
    border-radius: 8px;
}

.div-emoji-btn {
    flex: 0 0 32px;
    width: 32px;
    height: 32px;
    padding: 5px;
    margin: 3px;
    cursor: pointer;
    background-color: transparent;
    border-radius: 8px;
}

.div-text-count {
    color: rgba(22, 24, 35, 0.5);
    font-size: 14px;
    line-height: 17px;
    margin-top: 10px;
}

.max-text {
    color: rgba(255, 76, 58, 0.92);
}

.div-error-message {
    color: rgba(22, 24, 35, 0.75);
    font-size: 16px;
    line-height: 22px;
    flex: 1 1 0px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.div-empty {
    color: rgba(22, 24, 35, 0.5);
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-top: 0px;
    width: 100%;
    padding: 0px 16px;
    box-sizing: border-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}