//LoginItem
.link-login {
  color: rgba(22, 24, 35, 0.75);
  font-weight: 600;
  font-size: 1.2rem;
}

.box-container {
  color: rgb(22, 24, 35);
  font-weight: 600;
  border: 1px solid rgba(22, 24, 35, 0.12);
  font-size: 1.5rem;
  padding: 0px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  min-width: 300px;
  position: relative;
  cursor: pointer;
  margin-bottom: 16px;
  word-break: keep-all;
  white-space: nowrap;
}

.login-icon {
  left: 12px;
  font-size: 2rem;
  position: absolute;
  display: flex;
}