.aside {
    width: 356px;
    background: rgba(255, 255, 255, 1.0);
    z-index: 99;
    position: relative;
    flex: 0 0 356px;
}

.container {
    position: fixed;
    top: 60px;
    width: 356px;
    bottom: 0;
}

.header-only {
    width: 240px;
    flex: 0 0 240px;
}

.wrapper {
    flex-shrink: 0;
    padding: 20px 0 26px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 100%;
    padding-left: 8px;
    padding-right: 8px;
}

.load-icon {
    display: flex;
    justify-content: center;
    min-height: 200px;
    align-items: center;
    width: 100%;
}

.loading {
    animation: spinner 1s linear infinite;
}

@keyframes spinner {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

// scrollbar
.track-horizontal, .thumb-horizontal {
    display: none;
}

.thumb-vertical, .thumb-vertical {
    background: rgba(22, 24, 35, .06) !important;
}