.frame-container {
    position: relative;
    padding: 20px 8px 24px 8px;
    margin: 0;

    &::before {
        content: "";
        position: absolute;
        height: 1px;
        left: 8px;
        right: 8px;
        background: rgba(22, 24, 35, .12);
        transform: scaleY(.5);
        top: 0;
    }
}

.login-hint {
    color: rgba(22, 24, 35, .5);
    font-size: 16px;
    line-height: 22px;
}

.button-login {
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    color: rgba(254, 44, 85, 1);
    border-color: rgba(254, 44, 85, 1);
    background-color: rgba(255, 255, 255, 1);
    min-width: 168px;
    min-height: 48px;
    font-size: 18px;
    line-height: 25px;
    font-weight: 600;
    font-family: SofiaPro,PingFangSC,sans-serif;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    padding: 6px 8px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    box-sizing: border-box;
    margin-top: 20px;
    width: 100%;

    &:hover {
        background-color: rgba(254, 44, 85, 0.06);
    }
}