.video-container {
    flex: 1 0 600px;
    max-width: 100%;
    background: rgb(0, 0, 0);
    position: relative;
    overflow: hidden;
    padding: 0px 80px;
}

.video-background {
    position: absolute;
    width: 10%;
    height: 10%;
    filter: blur(2px);
    left: 50%;
    top: 50%;
    transform: scale(11);
    opacity: 0.3;
    background: center center / cover no-repeat;
}

.video-wrapper {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.div-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-color: rgba(22, 24, 35, 0.06);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.video-control-container {
    width: calc(100% - 160px);
    height: 24px;
    padding-inline: 16px;
    position: absolute;
    opacity: 0;
    transition: opacity 0.3s ease 0s;
    bottom: 28px;
    cursor: initial;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
    max-width: 56.25vh;
}

.video-control-top {
    width: calc(100% - 160px);
    height: 10px;
    position: absolute;
    bottom: 52px;
    left: 50%;
    transform: translateX(-50%);
    cursor: initial;
    max-width: 56.25vh;
}

.video-control-bottom {
    width: calc(100% - 160px);
    height: 28px;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    cursor: initial;
    max-width: 56.25vh;
}

.video-playing {
    width: 100%;
    height: 100%;
}

.img-poster {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.div-basic-player-wrapper {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;

    video {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.video-play-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.video-close-icon {
    position: absolute;
    z-index: 1;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: rgba(84, 84, 84, 0.5);
    border-radius: 50%;
    cursor: pointer;
    border: none;
    outline: none;
    top: 20px;
    transition: opacity 0.3s ease 0s;
    left: 20px;

    &:hover {
        opacity: 0.7;
        background-color: rgba(37, 37, 37, 0.6);
    }
}

.video-voice-control {
    position: absolute;
    z-index: 1;
    bottom: 20px;
    right: 20px;
}

.button-voice-control {
    border: none;
    background: none rgba(84, 84, 84, 0.5);
    outline: none;
    padding: 0px;
    display: flex;
    transition: opacity 0.3s ease 0s;
    cursor: pointer;
    line-height: 0;
    border-radius: 100px;
}

.switch-video-prev {
    position: absolute;
    z-index: 1;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: rgba(84, 84, 84, 0.5);
    border-radius: 50%;
    cursor: pointer;
    border: none;
    outline: none;
    transform: rotate(-90deg);
    top: calc(50% - 48px);
    margin-top: -24px;
    right: 20px;
}

.switch-video-next {
    position: absolute;
    z-index: 1;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: rgba(84, 84, 84, 0.5);
    border-radius: 50%;
    cursor: pointer;
    border: none;
    outline: none;
    transform: rotate(90deg);
    top: calc(50% + 8px);
    margin-top: -24px;
    right: 20px;
}

.div-report-text {
    font-family: "IBM Plex Sans", SofiaPro, Arial, Tahoma, PingFangSC, sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    padding: 10px 16px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 100px;
    position: absolute;
    top: 20px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    background-color: rgba(84, 84, 84, 0.5);
    right: 20px;

    &:hover {
        background-color: rgba(37, 37, 37, 0.6);
        opacity: 0.7;
    }
}

.report-video-icon {
    margin-right: 5px;
    vertical-align: middle;
}

.volume-control-container {
    width: 28px;
    height: 96px;
    margin: 8px 6px;
    display: block;
    position: relative;
    background: rgba(84, 84, 84, 0.5);
    border-radius: 32px;
}

.volume-control-progess {
    width: 4px;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.34);
    position: absolute;
    left: 12px;
    top: 8px;
    bottom: 8px;
    cursor: pointer;
    z-index: 2;
}

.volume-control-cicle {
    width: 16px;
    height: 16px;
    background-color: rgb(255, 255, 255);
    border-radius: 16px;
    position: absolute;
    left: 6px;
    bottom: 0px;
    cursor: pointer;
    z-index: 1;
}

.volume-control-bar {
    width: 4px;
    height: 80px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 12px;
    bottom: 8px;
    cursor: pointer;
    transform: scaleY(0);
    transform-origin: center bottom;
}